/*Local Decorations here - specific to App component*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.hero {
    margin-left: 128px;
    margin-top: 100px;
}

.pill {
    padding: 6px 16px;
}

.topHero {
    margin-bottom: 32px;
}

.sellingLine {
    margin-top: 32px;
    margin-bottom: 32px;
}

.heroBtn {
    margin-top: 48px;
    padding: 16px 24px;
    margin-right: 24px;
}

.expLogo {
    margin: 8px;
}

.card {
    padding: 8px 16px;
    margin-right: 64px;
    margin-top: 128px;
}

.expCardPills {
    margin: 8px 16px 0 16px;
}

.ulist {
    padding: 16px 32px;
}



@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}