/*Local Decorations here - specific to App component*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.bnav {
    padding: 12px;
}

/*.navPageLinks {*/
/*    padding: 16px;*/
/*    margin: 0 100px;*/
/*}*/

@media only screen and (max-width: 1280px){
    .navPageLinks {
        /*padding: 5%;*/
        /*margin: 0 5%;*/
    }
}

@media only screen and (min-width: 1280px){
    .navPageLinks {
        padding: 16px;
        margin: 0 100px;
    }
}

menu {
    padding: 16px;
}

.aboutMe {
    padding: 20px;
}

.section {
    padding: 64px 128px;
}

.cardInternals {
    padding: 20px;
}

/*.hero {*/
/*    margin-left: 128px;*/
/*    margin-top: 100px;*/
/*}*/

@media only screen and (max-width: 1280px) {
    .hero {
        /*margin-left: 5%;*/
        /*margin-top: 100px;*/
        padding: 0 5%;
    }
}
@media only screen and (min-width: 1280px) {
    .hero {
        margin-left: 128px;
        /*margin-top: 100px;*/
    }
}

.leftall {
    margin-left: 128px;
}

.pill {
    padding: 6px 16px;
}

.topHero {
    margin-bottom: 32px;
}

.sellingLine {
    margin-top: 32px;
    margin-bottom: 32px;
}

.heroBtn {
    margin-top: 48px;
    padding: 16px 24px;
    margin-right: 24px;
}

@media only screen and (max-width: 640px) {
    .heroBtn {
        margin-top: 24px;
        padding: 16px 24px;
        margin-right: 24px;
    }
}


.ProjCardBtn {
    padding: 12px 24px;
}

.expLogo {
    margin: 8px;
}

/*.logo{*/
/*    margin-left: 10%;*/
/*}*/

nav {
    padding: 0 5%;
}

.navBtn {
    padding: 0 8px;
}

@media only screen and (max-width: 600px) {
    .navBtn {
        padding: 8px 8px;
    }

}

.card {
    padding: 8px 16px;
    margin-right: 100px;
    margin-top: 88px;
}

.experience {
    padding-bottom: 88px;
}

.cardEd {
    padding: 8px 16px;
    /*margin-top: 88px;*/
}

.expCardPills {
    margin: 8px 16px 0 16px;
}

.ulist {
    padding: 16px 32px;
}

.timeline {
    margin-left: 208px;
}

.footer {
    padding: 32px 0 64px 0;
}

.contacts {
    padding: 32px 0;
}


@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}